.header{

    width: 300px;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.title{

    font-family: Times New Roman, serif;
    font-size: 32px;
    color: black;
}

.subtitle{

    font-family: Times New Roman, serif;
    font-size: 20px;
    color: black;
}

body{
    color: black;
}

h1{
	display: block;
	text-align: center;
}

select{
    margin: 10px;
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
}

#searchFor, #searchBy{
    width: 120px;
    height: 40px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 25px;
    border: 2px solid black;
    padding: 5px;
}

input[type=text]
{
    width:240px;
    height: 10px; 
    line-height: 15px;
    font-size: 16px;
    border-radius: 25px;
    border: 2px solid black;
    padding: 10px;
}

.searchBox{
    padding: 10px;
}

#books, #movies, #albums{
    border-radius: 25px;
    border: 2px solid black;
    padding: 10px;
    font-size: 16px;
    background-color: white;
    margin: 0 auto;
}

caption{
    font-weight: bold;
    font-size: 30px;
    padding: 10px;
}