.header{

    width: 300px;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.title{

    font-family: Times New Roman, serif;
    font-size: 32px;
    color: black;
}

.subtitle{

    font-family: Times New Roman, serif;
    font-size: 20px;
    color: black;
}

body{
    background-image: url("items.png");
    color: black;
}

h1{
	display: block;
	text-align: center;
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
}


#searchFor, #searchBy{
    width: 200px;
    height: 80px;
    font-size: 16px;
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;   
}

input[type=text]
{
    width: 400px;
    height: 30px; 
    line-height: 15px;
    font-size: 16px;
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;  
}

#books, #movies, #albums{
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
    font-size: 16px;
    background-color: white;
}