.header{

    width: 300px;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.title{

    font-family: Times New Roman, serif;
    font-size: 32px;
}

.subtitle{

    font-family: Times New Roman, serif;
    font-size: 20px;
}
